.o_barcode_line{
    span{
        font-size:16px;
    }
}
.password {
.modal-body {
    text-align: center;
    font-size: 19px;
}
}

.password {
.modal-footer{
     border-top:0px;
}
}
.barcode_text{
    width:97%;
}
span#validation_text{
    float:left;
}