#input_qty_list{
	padding: 1px 5px;
    height: 23px;
    width: 40px;
}
#products_grid .card.oe_product_cart .card-body.p-0.o_wsale_product_information{z-index: 2;}
#products_grid .card.oe_product_cart .card-body.p-0.o_wsale_product_information .p-2.o_wsale_product_information_text span.css_quantity.input-group{}